
{% extends 'base.html' %}

{% block content %}
<br></br>
<span class="ilheadings">{% block title %} Create a New Post  {% endblock %}</span>
<br></br>
<form name="newpost" method="post" onsubmit="return validateForm()">
    <div class="form-group">
        <label class="ilparagraph" for="title">Title</label>
        <input type="text" name="title"
               placeholder="Post title" class="form-control"
               value="{{ request.form['title'] }}"></input>
    </div>

    <div class="form-group">
        <label class="ilparagraph" for="content">Description</label>
        <textarea name="content" placeholder="Post description"
                  class="form-control">{{ request.form['content'] }}</textarea>
    </div>
    <div class="form-group">
        <label class="ilparagraph" for="url">URL</label>
        <textarea name="url" placeholder="Enter url"
                  class="form-control">{{ request.form['url'] }}</textarea>
    </div>
    <div class="form-group">
        <label class="ilparagraph" for="category">Category</label>
        <select class="form-control" name="category" value="{{ request.form['category'] }}">
            <option value="CloudSec">CloudSec</option>
            <option value="AppSec">AppSec</option>
            <option value="Red Team">Red team</option>
            <option value="Blue Team">Blue Team</option>
            <option value="Misc">Misc</option>
        </select>
    </div>
    <br></br>
    <div class="form-group">
        <button type="submit" class="ilbutton">Submit</button>
    </div>
</form>

<script>

function validateForm(){
  let x = document.forms["newpost"]["url"].value;
  if (!x.startsWith("https://")) {
    alert("URL needs to start with https://");
    return false;
  }
}

</script>
{% endblock %}