<!-- {% extends 'base.html' %}
{% block content %}

<body>
    <h1><center>Search</center></h1>
    <form class="example" method="post" action="">
        <input type="text" placeholder="Search by Category" name="post">
        <button type="submit"><i class="fa fa-search"></i>
        </button>
    </form>
    <p></p>
    <center>
    {% for item in data %}
        <tr>
            <td> {{item[0]}} by {{item[1]}}</td>
            </br>
        </tr>
    {% endfor %}
    </center>
</body>
{% endblock %} -->